@font-face {
	font-family: "Gilroy Extra";
	src: url("fonts/Gilroy-ExtraBold.eot");
	src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("fonts/Gilroy-ExtraBold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy Light";
	src: url("fonts/Gilroy-Light.eot");
	src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"), url("fonts/Gilroy-Light.ttf") format("truetype"), url("fonts/Gilroy-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy Extra", sans-serif;
  font-weight: bold;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 1040px;
  min-height: 300px;
  margin: 0 auto;
}

.page-header {
  margin-top: 40px;
  background: rgba(247, 226, 150, 1);
}

.page-header__logo {
  position: absolute;
  top: 12px;
  font-size: 47px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.page-header__logo:hover {
  color: #464646;
}

.page-header__logo:active {
  color: #666666;
}

.search-form {
  position: relative;
  float: left;
  width: 500px;
  margin-right: 40px;
  margin-top: 40px;
}

.search-form__input {
  width: 360px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 40px;
  padding: 0 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.search-form__btn {
  position: absolute;
  top: -7px;
  right: 60px;
  display: none;
  width: 80px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  background: transparent;
  border: 2px solid black;
  cursor: pointer;
}

.search-form__btn:hover {
  color: white;
  background: black;
}

.search-form__input:focus {
  border-bottom: 2px solid black;
}

.search-form__input:focus + .search-form__btn {
  display: block;
}

.user-block {
  float: right;
  width: 500px;
  margin-top: 40px;
}

.user-block__left {
  float: left;
}

.user-block__link {
	position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-decoration: none;
  color: black;
  padding-left: 30px;
}

.user-block__link--entrance::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url("img/user.png") no-repeat;
}

.user-block__link--compare::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	background: url("img/compare.png") no-repeat;
}

.user-block__link--basket::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 12px;
	height: 12px;
	background: url("img/basket.png") no-repeat;
}

.user-block__link:hover {
  opacity: 0.6;
}

.user-block__link:active {
  opacity: 0.3;
}

.user-block__link--compare {
  margin-right: 40px;
}

.user-block__right {
  float: right;
	width: 300px;
	text-align: right;
}

.main-nav__left {
  float: left;
  width: 500px;
  margin-right: 40px;
}

.main-nav__right {
  float: right;
  width: 500px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-nav__list--left {
  float: left;
}

.main-nav__list--right {
  float: right;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}

.main-nav__item--delivery {
  margin-right: 40px;
}

.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--catalog {
	position: relative;
	padding-right: 30px;
}

.main-nav__link--catalog::before,
.main-nav__link--catalog::after {
	content: "";
	position: absolute;
	top: 9px;
	width: 16px;
	height: 2px;
	background: black;
	opacity: 0.6;
}

.main-nav__link--catalog::before {
	right: 0;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    		transform: rotate(90deg);
}

.main-nav__link--catalog::after {
	right: 0;
}

.main-nav__sub-menu {
  position: relative;
  display: none;
  top: 0;
  left: -60px;
  z-index: 10;
  width: 1160px;
  min-height: 138px;
  padding-top: 20px;
  background: rgba(247, 226, 150, 1);
}

.main-nav__sublist {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__sublist--left {
  float: left;
  width: 200px;
  margin-left: 60px;
  margin-right: 40px;
}

.main-nav__sublist--centre {
  float: left;
  width: 200px;
}

.main-nav__subitem {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}

.main-nav__sublink {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
  color: black;
}

.main-nav__sublink:hover {
  opacity: 0.6;
}

.main-nav__sublink:active {
  opacity: 0.3;
}

.main-nav__link--catalog:hover ~ .main-nav__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.main-nav__sub-menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.slider {
  position: relative;
  top: -110px;
  width: 1040px;
}

.slider__input {
  display: none;
}

.slider__controls {
  position: absolute;
  top: 337px;
  right: -16px;
  width: 120px;
  text-align: right;
}

.slider__control {
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin-right: 20px;
  border: 3px solid #d8d8d8;
  border-radius: 50%;
  cursor: pointer;
}

.slider__slide {
  width: 1040px;
  min-height: 495px;
}

.slider__text {
  float: right;
  width: 500px;
}

.slider__title {
  position: relative;
  font-size: 45px;
  padding-top: 78px;
  margin: 0;
  margin-bottom: 30px;
}

.slider__title::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 100px;
  height: 7px;
  background: white;
}

.slider__slogan {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.slider__slide--one::before {
	content: "01";
	position: absolute;
	top: -35px;
	right: -13px;
	font-size: 180px;
	color: white;
}

.slider__slide--two::before {
	content: "02";
	position: absolute;
	top: -35px;
	right: -13px;
	font-size: 180px;
	color: white;
}

.slider__slide--three::before {
	content: "03";
	position: absolute;
	top: -35px;
	right: -13px;
	font-size: 180px;
	color: white;
}

.slider__slide--one {
  background: url("img/slider-1.png") no-repeat 0% 50%;
}

.slider__slide--two {
  background: url("img/slider-2.png") no-repeat 0% 50%;
}

.slider__slide--three {
  background: url("img/slider-3.png") no-repeat 0% 60px;
}

.slider__link {
  position: relative;
  display: block;
  width: 130px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 50px;
  padding: 10px 45px;
}

.slider__link::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 220px;
  height: 8px;
  background: #f1c838;
  z-index: -1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.slider__link:hover::before {
  top: 0;
  height: 100%;
}

.slider__options-list {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 80px;
}

.slider__options-list:last-child {
  margin-right: 0;
}

.slider__options-value {
  font-family: "Gilroy Light", sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.slider__options-descr {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

#monopod:checked ~ .slider__controls .slider__control[for="monopod"],
#clock:checked ~ .slider__controls .slider__control[for="clock"],
#quadrupter:checked ~ .slider__controls .slider__control[for="quadrupter"] {
  border-color: black;
	-webkit-transition: 0.6s;
	transition: 0.6s;
}

.slider__slide {
  display: none;
}

#monopod:checked ~ .slider__slides .slider__slide--one {
  display: block;
}

#clock:checked ~ .slider__slides .slider__slide--two {
  display: block;
}

#quadrupter:checked ~ .slider__slides .slider__slide--three {
  display: block;
}

.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        -webkit-align-items: flex-start;
	        align-items: flex-start;
	margin-bottom: 185px;
}

.products__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	-ms-flex-preferred-size: 160px;
	    -webkit-flex-basis: 160px;
	        flex-basis: 160px;
}

.products__image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;
	background: rgba(247, 226, 150, 1);
}

.products__image:hover {
	background: #f0c52e;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.products__image img:active {
	opacity: 0.3;
}

.products__link {
	font-size: 18px;
	text-decoration: none;
	color: black;
}

.products__link:active {
	opacity: 0.3;
}

.slider-background {
	height: 285px;
	background: #e5e5e5;
	margin-bottom: 100px;
}

.service-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        -webkit-justify-content: flex-end;
	        justify-content: flex-end;
}

.service-slider__input {
	display: none;
}

.service-slider__controls {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 280px;
	margin-right: 120px;
}

.service-slider__controls::after {
	content: "";
	position: absolute;
	top: -100px;
	right: 0;
	width: 7px;
	height: 320px;
	background: black;
}

.service-slider__control {
	position: relative;
	top: -21px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	-ms-flex-preferred-size: 280px;
	    -webkit-flex-basis: 280px;
	        flex-basis: 280px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: black;
	margin-bottom: 25px;
	padding: 10px 0;
	cursor: pointer;
	z-index: 2;
}

.service-slider__control::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 58px;
	width: 160px;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.service-slider__control:hover::before {
	top: 0;
	height: 100%;
}

#service-slide-1:checked ~ .service-slider__controls .service-slider__control[for="service-slide-1"],
#service-slide-2:checked ~ .service-slider__controls .service-slider__control[for="service-slide-2"],
#service-slide-3:checked ~ .service-slider__controls .service-slider__control[for="service-slide-3"] {
	color: #f7e184;
	background: black;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

#service-slide-1:checked ~ .service-slider__controls .service-slider__control[for="service-slide-1"]::before,
#service-slide-2:checked ~ .service-slider__controls .service-slider__control[for="service-slide-2"]::before,
#service-slide-3:checked ~ .service-slider__controls .service-slider__control[for="service-slide-3"]::before {
	background: transparent;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.service-slider__slide {
	position: relative;
	top: -33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 760px;
	height: 200px;
}

.service-slider__title {
	font-size: 47px;
	margin: 0;
	margin-bottom: 25px;
}

.service-slider__slogan {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	margin: 0;
	padding-right: 300px;
}

.service-slider__slide--delivery {
	display: none;
	background: url("img/delivery.png") no-repeat 90% 45%;
}

.service-slider__slide--warranty {
	display: none;
	background: url("img/warranty.png") no-repeat 90% 45%;
}

.service-slider__slide--credit {
	display: none;
	background: url("img/credit.png") no-repeat 90% 45%;
}

#service-slide-1:checked ~ .service-slider__slides .service-slider__slide--delivery,
#service-slide-2:checked ~ .service-slider__slides .service-slider__slide--warranty,
#service-slide-3:checked ~ .service-slider__slides .service-slider__slide--credit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	margin-bottom: 100px;
}

.company__logo--dji:hover {
	background: url("img/company-logo-dji-color.png");
}

.company__logo--sp-gadgets:hover {
	background: url("img/company-logo-sp-gadgets-color.png");
}

.company__logo--gopro:hover {
	background: url("img/company-logo-gopro-color.png");
}

.company__logo--vive:hover {
	background: url("img/company-logo-vive-color.png");
}

.company-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        -webkit-justify-content: flex-start;
	        justify-content: flex-start;
}

.about-us {
	margin-right: 100px;
}

.about-us__title,
.contacts__title {
	position: relative;
	display: inline-block;
	font-size: 47px;
	padding-top: 50px;
	margin-bottom: 40px;
}

.about-us__title::before,
.contacts__title::before {
	content: "";
	position: absolute;
	top: 0;
	width: 80px;
	height: 7px;
	background: black;
}

.about-us__descr,
.contacts__descr {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	margin: 0;
	margin-bottom: 35px;
}

.about-us__descr--margin-b {
	margin-bottom: 60px;
}

.about-us__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us__item {
	position: relative;
	font-size: 16px;
	line-height: 40px;
	padding-left: 35px;
}

.about-us__item::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	width: 4px;
	height: 4px;
	border: 3px solid #cdcdcd;
	border-radius: 50%;
}

.about-us__item--margin-b {
	margin-bottom: 60px;
}

.contacts__map {
	margin-bottom: 76px;
}

.about-us__link,
.contacts__link {
	position: relative;
	display: block;
	width: 260px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: black;
	letter-spacing: 2px;
	padding: 10px 0;
	margin-bottom: 80px;
}

.about-us__link::before,
.contacts__link::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 0;
	width: 260px;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.about-us__link:hover::before,
.contacts__link:hover::before {
	top: 0;
	height: 100%;
}

.page-footer {
	background: #464646;
}

.page-footer__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        -webkit-align-items: stretch;
	        align-items: stretch;
}

.page-footer__col-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 360px;
	margin-top: 50px;
}

.page-footer__col-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 440px;
}

.page-footer__col-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	width: 360px;
}

.page-footer__logo {
	display: inline-block;
	font-size: 48px;
	text-transform: uppercase;
	text-decoration: none;
	color: #f7e184;
	margin-bottom: 20px;
}

.page-footer__logo:hover {
	color: #d7b332;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-footer__logo:active {
	color: #6d6341;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-footer__address {
	position: relative;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: white;
	padding-bottom: 155px;
}

.page-footer__address::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 75px;
	width: 80px;
	height: 7px;
	background: #f7e184;
}

.page-footer__list,
.social__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.page-footer__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	width: 440px;
	padding-top: 135px;
}

.page-footer__item {
	letter-spacing: 3px;
}

.page-footer__item a {
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.page-footer__item a:hover {
	opacity: 0.6;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-footer__item a:active {
	opacity: 0.3;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	width: 440px;
}

.social__link {
	display: block;
	width: 39px;
	height: 38px;
	font-size: 0;
	margin-right: 15px;
}

.social__link--fb {
	background: url("img/facebook.png") no-repeat center;
	opacity: 0.3;
}

.social__link--inst {
	background: url("img/insta.png") no-repeat center;
	opacity: 0.3;
}

.social__link--tw {
	background: url("img/twitter.png") no-repeat center;
	opacity: 0.3;
}

.social__link--fb:hover,
.social__link--inst:hover,
.social__link--tw:hover {
	opacity: 0.6;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.social__link--fb:active,
.social__link--inst:active,
.social__link--tw:active {
	opacity: 0.1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-footer__user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        -webkit-justify-content: space-between;
	        justify-content: space-between;
	width: 360px;
	height: 100px;
}

.page-footer__user-link {
	position: relative;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	text-decoration: none;
	color: white;
	padding-top: 60px;
	padding-left: 30px;
	opacity: 0.7;
}

.page-footer__user-link--entrance::before {
	content: "";
	position: absolute;
	top: 72px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url("img/user-footer.png") no-repeat;
	opacity: 0.3;
}

.page-footer__user-link--compare::before {
	content: "";
	position: absolute;
	top: 74px;
	left: 0;
	width: 10px;
	height: 10px;
	background: url("img/compare-footer.png") no-repeat;
	opacity: 0.3;
}

.page-footer__user-link--basket::before {
	content: "";
	position: absolute;
	top: 73px;
	left: 0;
	width: 12px;
	height: 12px;
	background: url("img/basket-footer.png") no-repeat;
	opacity: 0.3;
}

.page-footer__user-link--entrance:hover::before {
	content: "";
	position: absolute;
	top: 72px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url("img/user-footer.png") no-repeat;
	opacity: 1;
}

.page-footer__user-link--compare:hover::before {
	content: "";
	position: absolute;
	top: 74px;
	left: 0;
	width: 10px;
	height: 10px;
	background: url("img/compare-footer.png") no-repeat;
	opacity: 1;
}

.page-footer__user-link--basket:hover::before {
	content: "";
	position: absolute;
	top: 73px;
	left: 0;
	width: 12px;
	height: 12px;
	background: url("img/basket-footer.png") no-repeat;
	opacity: 1;
}

.page-footer__user-link:hover {
	opacity: 1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-footer__user-link:active {
	opacity: 0.3;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-footer__phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        -webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        -webkit-align-items: flex-end;
	        align-items: flex-end;
	-ms-flex-preferred-size: 360px;
	    -webkit-flex-basis: 360px;
	        flex-basis: 360px;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	color: white;
	margin-top: -30px;
}

.page-footer__dev {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        -webkit-justify-content: flex-end;
	        justify-content: flex-end;
	width: 360px;
}
